* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#shopping-heading {
    font-size: 35px;
    text-align: center;
    color: black;
    margin-top: 36px;
}

#parent-div {
    width: 90%;
    /* height: 600px; */
    margin: 50px auto;
    background-color: rgb(247, 239, 239);
    padding-top: 60px;
    padding-bottom: 30px;
}

.flex-div {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px 0px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mobile-first-div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-second-div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.mobile-second-div {
    width: 50%;
}

.image-phone {
    width: 100%;
}

.image-div {
    width: 35%;
}

.input-box {
    display: inline-block;
    width: 70px;
    font-weight: 700;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(233, 232, 239);
    border: 0px;
    border-radius: 10px;
    outline: 0px;
}

.input-box {
    background-color: rgb(233, 232, 239);
    transition-property: background-color;
    transition-duration: .7s;
}

.input-box:hover {
    background-color: rgb(192, 192, 192);
}

.button {
    margin: 2px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: scale(0.95);
}

.mobile-money {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.calculation-sub-parent {
    width: 100%;
}

.calculation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 70px;
}

.calculation-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;

}

.check-out-div {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 239, 239);
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
    padding: 20px 0px;
}

.check-out-button {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
    /* box-sizing: border-box; */
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.check-out-button:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .check-out-button {
        padding: 16px 44px;
        min-width: 150px;
    }
}